<div class="contents">
     
    <section id="productos">
        <h1>Productos más pedidos</h1>
        <div class="div-grid">
            <div class="grid-item">
                <div class="content-img-pro">
                    <img src="../../../assets/img/IA_EMOCION.png">
                </div>
                <h3>IA_E</h3>
                <p>Inteligencia artificial para sus necesides</p>
            </div>
            <div class="grid-item">
                <div class="content-img-pro">
                    <img src="../../../assets/img/Camiseta2.PNG">
                </div>
                <h3>Emocion Classic Clothes</h3>
                <p>Ideales para quienes gusten de un atuendo mas clásico</p>
            </div>
            <div class="grid-item">
                <div class="content-img-pro">
                    <img src="../../../assets/img/Camiseta1.PNG">
                </div>
                <h3>Emocion Expression</h3>
                <p>Ideales para exprarte como te sientes en todo momento sin necesidad de hablarlo</p>
            </div>
            <div class="grid-item">
                <div class="content-img-pro">
                    <img src="../../../assets/img/Camiseta3.PNG">
                </div>
                <h3>Emocion Cars</h3>
                <p>Ideales para los amantes de los autos</p>
            </div>
        </div>
    </section>

</div>
