<section id="contacto">
    <h1>Comunicate con nosotros</h1>
    <div class="div-flex">
        <div class="parts">
            <h2>¿Tienes alguna duda o pedido en especial?</h2>
            <p>Dejanos un mensaje con lo que necesitas saber para resolver cualquier duda que tengas</p>
            <h4>Correo: ventasemocion.com.mx</h4>
            <!-- <h4>Celulares: 477-559-11-74</h4> -->
        </div>
        
        <div class="parts">
            <h2 style="margin-bottom: 10px;">Envia tu consulta ahora!</h2>
            <form [formGroup]="formUser" (ngSubmit)="procesar()">
                <label>Nombre</label>
                <input type="text" formControlName="name" placeholder="Ingrese su nombre">
                <div class="alert alert danger mt-2" [hidden]="formUser.get('name')?.invalid || formUser.get('name')?.touched">
                        El nombre es obligatorio
                </div>
                <br>
                <label>Correo</label>
                <input type="email" formControlName="email"  placeholder="Ingrese su correo">
                <div class="alert alert danger mt-2" [hidden]="formUser.get('email')?.valid || formUser.get('email')?.pristine">
                    <span *ngIf="formUser.get('email')?.errors?.['email']">
                        El email debe ser valido
                    </span>

                </div>
                <br>
                <label>Celular</label>
                <input type="number" formControlName="cel" placeholder="Ingrese su celular" maxlength="10">
                <div class="alert alert danger mt-2" [hidden]="formUser.get('cel')?.invalid || formUser.get('cel')?.touched">
                    Número de celular obligator 
                </div>
                <br>
                <label>Consulta</label>
                <textarea formControlName="consul"></textarea>
                <div class="alert alert danger mt-2" [hidden]="formUser.get('consul')?.valid || formUser.get('consul')?.pristine">
                   Escriba su consulta 
                </div>

                <br>
                <button  [disabled]="!formUser.valid">Enviar mensaje</button>
            </form>
        </div>
    </div>
</section>
{{ formUser.get('name')?.value}}
{{ formUser.get('email')?.value}}
{{ formUser.get('cel')?.value}}
{{ formUser.get('consul')?.value}}