<div *ngFor="">
    <section id="inicio">
        <h1>
            ¿Como inició EMOCION?
            <a [title]="" [routerLink]="['/agendular/src/app/pages/inicio/inicio.component.html']"></a>
        </h1>
        <div class="div-flex">
            <div class="parts">
                <div class="content-img">
                    <div class="img"></div>
                </div>
            </div>
            <div class="parts">
                <h2>Todo desde la Web</h2>
                <p>Tenemos un año dedicandonos a las ventas y promocion online asi como al desarrollo de IA siempre teniendo en cuenta las opiniones de nuestros valiosos clientes.</p>
                <a href="#">
                    
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
    </section>
</div>
