*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}
section{
	background: #fff;
}
body{
	position: relative;
	background: linear-gradient(120deg,#f1dfc5,#86d3df);
}
h1{
	font-size: 28px;
}
h2{
	font-size: 23px;
}
p{
	font-size: 18px;
    line-height: 25px;
}
.img{
	background-image: url(/agendular/src/images/IA_EMOCION.png);
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(-10deg);
	border-radius: 10px;
	transition: 1s;
}
div{
    position: relative;
	background: linear-gradient(120deg,#f1dfc5,#86d3df);
}