



<div>
  <section>
		<div class="content-banner">
			<div class="banner-text">
				<h1>El expresarte nunca fue tan fácil</h1>
				<p>Una vez que uses las prendas y prouctos de EMOCION tendrás todo para poder expresarte libremente sin importar tu genero o ideología</p>
				<button>Ver productos</button>
        
			</div>
			<div class="banner-img">
				<img src="../images/emocion_ico.png">
			</div>
		</div>
    <link rel="stylesheet" href="/agendular/src/app/pages/contactanos/contactanos.component.html">
	</section>

  
</div>

<div class="links">
  <a href="/agendular/src/app/pages/contactanos/contactanos.component.html">Contactanos</a>
  <br>
  <a href="/agendular/src/app/pages/inicio/inicio.component.html">Inicio</a>
  <br>
  <a href="/agendular/src/app/pages/productos/productos.component.html">Productos</a>
  <br>
  <a href="/agendular/src/app/pages/servicios/servicios.component.html">Servicios</a>
</div>